* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #C1B5AD;
  }
  #map {
    height: 100vh;
    width: 100vw;
  }
  
  h1{
    color: red
  }

  .circle{
      height: 20px;
      width: 20px;
      color: blueviolet;
  }